.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 20px 20px;
  font-family: "Inter", sans-serif;
}


.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.footer-newsletter h3 {
  font-size: 16px;
  font-weight: 700;
}

.footer-newsletter p {
  font-size: 14px;
  color: #ccc;
  margin: 10px 0 15px;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  max-width: 584px;
}

.newsletter-form input {
  /* background: #333; */
  width: 382px;
  flex: 2;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.newsletter-form button {
  width: 184px;
  background-color: black;
  color: rgba(255, 255, 255, 0.327);
  border: solid 1px rgba(255, 255, 255, 0.205);
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 400;
}


.footer-contact {
  max-width: 375px;
}

.footer-contact h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.footer-contact p {
  font-size: 14px;
  font-weight: 300;
  margin: 4px 0;
}

.currency {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.currency img {
  width: 20px;
  height: auto;
  border-radius: 50%
}

.footer-contact small {
  display: block;
  color: #aaa;
  font-size: 12px;
  margin-top: 10px;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto;
  gap: 40px;
}

.footer-column h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
}

.footer-column li:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin: 10px 0 20px;
}

.social-icons .linkedin{
 padding: 4px;
 border-radius: 50%;
 border: 1px solid white;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.payment-icons img {
  border-radius: 4px;
  background: #fff;
}
.gpay {
  padding: 10px;
}

.visa {
  padding: 10px;
}

.divider {
  border: 0;
  border-top: 1px solid #333;
  max-width: 1200px;
  margin: 0 auto;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #999;
}


@media (max-width: 768px) {

 
 .newsletter-form input {
  /* background: #333; */
  width: 170px;
 
}

.newsletter-form button {
  width: 100px;
 
}


  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-contact small {
  display:none;
}

 
}
