.header-container {
    margin: 0 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #835252; */
}

.logo-section span {
    display: none;
}

.logo-text {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 7rem;

}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    gap: 0px;
    font-weight: 600;
    font-size: 14px;
}

.nav-links a {
    color: #222;
    text-decoration: none;
}

.nav-links a:hover {
    color: #000;
}

.icon-section {
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: #370b0b; */

}

.icon {
    font-size: 18px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;

}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    max-width: 10px 0;
}

.header-text-container {
    text-align: center;
    max-width: 600px;
    /* background: #331c1c; */
}

.header-text-container h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 12px;
}

.header-text-container p {
    padding: 0 20px;

}


.options {
    display: flex;
    align-items: center;
    gap: 60px;
}

.option-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 14px;
}

.lang-select {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

@media (max-width: 480px) {
    .nav-links {
        display: none;
    }

    .options-container {
        display: none;
    }

    .logo-section span i {
        font-size: 20px;

    }

    .logo-section Image {
        font-size: 20px;
    }

    .header-container {
        padding: 10px 15px;
    }

    .logo-section span {
        display: block;
    }

    .icon-section span {
        display: none;
    }

    .icon-section select {
        display: none;
    }

    .icon-section {

        gap: 5px;
        /* background-color: #370b0b; */

    }

}


/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .header-text-container h1 {
    font-size: 22px;
  
}


    .header-container {
        padding: 10px 15px;
    }

    .logo-text {
        margin-left: 2rem;
    }
}